<div class="center">
  <h1>About <span class="whskr">whskr</span></h1>
  <br>
  <h4>
    <span class="whskr">whskr</span> is the best place to store historical records for your pets. 
    <br><br>
    Convenient and easy to use, <span class="whskr">whskr</span> allows users to track vet appointments, medical procedures and any health-relevant information for each pet. Users can also store up to 15 files per pet.
    <br><br>
    <span class="whskr">whskr</span> was made in 9 days (many of them with a cat or cats on my lap) during General Assembly WDI-16 using Ruby on Rails, Javascript, JQuery, Bootstrap, Font Awesome, Google Fonts, UploadCare and HTML/CSS. 
  </h4>
</div>

