<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="4500">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
        
          <div class="item active">
            <img src="http://c3.staticflickr.com/3/2940/13930649657_84f81018a6_n.jpg" alt="">
          </div>

          <div class="item">
            <img src="http://www.rgbstock.com/cache1qYRF7/users/a/al/alexfryatt/300/n9bHwrC.jpg" alt="">
          </div>

          <div class="item">
            <img src="http://c4.staticflickr.com/4/3825/8835491355_62a2d08db3_n.jpg" alt="">
          </div>
        
          <div class="item">
            <img src="http://c4.staticflickr.com/4/3885/14519742415_002a60fd94_n.jpg" alt="">
          </div>      
        </div> <!-- end class="carousel-inner container" -->
      </div> <!-- end id="carousel-example-generic" -->
    </div> <!-- end class="col-sm-7" -->

    <div class="col-sm-5 home-right">
      <br><br><br><br>
      <p id="Calligraffitti">whskr</p>
      <h2>Manage appointments and records for your pets</h2>
    </div> <!-- end class="col-sm-5 home-right" -->

  </div> <!-- end class="row" -->
</div> <!-- end class="container" -->
