/**= require fullcalendar*/

@import "bootstrap";

#Calligraffitti {
  font-family: Calligraffitti;
  color: white;
  font-weight: bold;
  font-size: 100px;
}
.carousel-inner {
  background-color: black;  
}
.container {
  background-color: black;
  height: 100vh;
  width: 100vw;
}
.home-right {
  text-align: center;
}
.item img{
  margin: 0 auto;
  width: 500px;
  height: 500px;
  overflow: hidden;
  vertical-align: middle;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-form {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-left {
  font-size: 1em;
  font-style: italic;
}
.navbar-left span {
  font-family: Calligraffitti;
  font-size: 1.5em;
  font-style: normal;
  font-weight: bold;
  color: #191B1A;
}
.navcontainer {
  background-color: #F8F8F8;
}
.row {
  margin: 100px 0px 100px 0px;
}
