/**= require fullcalendar*/

@import "bootstrap";
#calendar {
  margin: 0 auto;
  height: auto;
  width: 85%
}
#Calligraffitti {
  font-family: Calligraffitti;
  color: white;
  font-weight: bold;
  font-size: 100px;
}
.carousel-inner {
  background-color: black;  
}
.center {
  text-align: center;
  margin: 0 auto;
}
.container {
  background-color: black;
  height: 100%;
  width: 100vw;
}
.flashMessage {
  margin-bottom: 0px;
}
.home-right {
  text-align: center;
}
.inline {
  display: inline-block;
}
.item img{
  margin: 0 auto;
  width: 600px;
  height: 600px;
  overflow: hidden;
  vertical-align: middle;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-form {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-left {
  font-size: 1em;
  font-style: italic;
}
.navbar-left span {
  font-family: Calligraffitti;
  font-size: 1.5em;
  font-style: normal;
  font-weight: bold;
  color: #191B1A;
}
.navcontainer {
  background-color: #F8F8F8;
}
.profile_photo {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-color: teal;
  border: 10px solid #F8F8F8;
  border-style: double;
  border-radius: 100px;
  margin: 0 10px 0 10px;
}
.record_picture {
  width: 100px;
  height: 100px;
}
.row {
  margin: 100px 0px 100px 0px;
}
.vert_align{
  vertical-align: center;
}
.whskr {
  font-family: Calligraffitti;
  font-size: 1.5em;
  font-style: normal;
  font-weight: bold;
  color: #191B1A;
}
